/* 

--01 TYPOGRAPHY SYSTEM
---- FONT SIZE SYSTEM (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

---- Font weights: 


--- Line heights: 
default: 1


---SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*************************************************************

----- 02 COLORS
Primary: #67e22

- Tints: 
- ShadesL 
- Accents: 
- Greys: 
#555

--- 05 SHADOWS 


--- 06 BORDER RADIOUS

--- 07 WHITE SPACES
      SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/


* {
    /* background-color: rgb(0, 0, 0);
    color: aliceblue; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 10px / 16px = 0.625 = 62.5%  */
}

body{
    font-family: sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

/* .test {
    /* width: 1000px; */
    /* max-width: 1000px; */
    /* max-width: 50rem; */
    /* color: white; */
    /* font-size: 2rem; */
    /* 1 rem = 16 px
    50 rem = 50x16 = 80px
    */
    /* here we have used the max-width because it dynamically adapt the screen size pixel and convert it to the place of the pixel in the web page 
     */
     /* rem is the root element font size  */
    /* padding: 100px; */
    /* background-color: red; */
/* } */ 

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* by adding width 100% image is automatically adjust with viewport height and width  */

.hero-img {
    width: 100%;
}